




<div class="whole_body">

  <h1 class="heading"> About Us </h1>
  <%= render 'shared/header' %>
  <hr>

  <div class="small_description">
    <%= image_tag 'art1.jpg', class: 'img' %>

  </div>

</div>