




<div class="whole_body">
  <div class="heading_navbar">
    <h1 class="heading"> About Us </h1>
    <%= render 'shared/header' %>
  </div>

  <div class="small_description">
    <%= image_tag 'art1.jpg', class: 'img' %>

  </div>

</div>