


<div class="whole_body">

  <h1 class="heading">Our Collection</h1>
  <%= render 'shared/header' %>
  <hr>

  <div class="all_arts">
    <div class="single_art">
      <%= image_tag 'art1.jpg', class: 'img' %>
      <%= image_tag 'art2.jpg', class: 'img' %>
      <%= image_tag 'art3.jpg', class: 'img' %>
    </div>
  </div>


</div>