

  <div class="whole_body">
    <div class="heading_navbar">
      <h1 class="heading">Contact Us</h1>
      <%= render 'shared/header' %>
    </div>

      <%#= render 'shared' %>
      <%= render 'shared/socialmedia' %>

  </div>