


<div class="whole_body">
  <div class="heading_navbar">
    <h1 class="heading">The Gallary</h1>
    <%= render 'shared/header' %>
  </div>

  <div class="all_arts">
    <div class="single_art">
      <%= image_tag 'art1.jpg', class: 'img' %>
      <%= image_tag 'art2.jpg', class: 'img' %>
      <%= image_tag 'art3.jpg', class: 'img' %>
    </div>
  </div>


</div>