<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <section class="whole_body">
      <h1 class="heading">Isabela's Art Gallary</h1>


      <div class="small_description">
        <p>Welcome to Isabela's art gallary</p>
      </div>
  </section>
      <footer>

      </footer>

</body>
</html>