/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: floralwhite;
  margin: 0;
  position-top: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.user_entry{
  background-color: RGB(255,220,202);
  margin:0 0 0 0;

}
.whole_body h1 {
  align-content: center;
  font-size: 3rem;
  width: 30vw;
  margin: 1vw 35vw;
  padding: 1rem;
  //border: 1px solid gray;
}

.heading_navbar {
  background-color: RGB(255,220,202);
}

.whole_body .small_description {
  font-size: 2rem;
}



.img {
  width: 60vw;
  padding: 1rem;
}

.small_description .img {
  width: 30vw;
  padding: 1rem;
}

.profile_info {
  display: inline-block;
  margin-left: 0vw;
}

.navbar .nav_link_wrapper {
  padding: 2vw 1.5vw;
  margin: 1vw 1vw;
}

.navbar .nav_link_wrapper a:link {
  font-size: 1.5rem;
  text-decoration: none;
  color: RGB(0,58,0);
  //margin: 3rem 3rem;
  padding: 1rem 2rem;
  //border: 1px solid RGBA(0,58,0,0.25);
}



.navbar .nav_link_wrapper a:visited {
  color: RGB(0,58,0);
}

.navbar .nav_link_wrapper a:hover {
  background-color: RGBA(0,58,0,0.28);
  color: floralwhite;
}




.all_arts .single_art .img {
  width: 15vw;
  padding: 1rem;
  margin: 1rem 1rem;
}

.form {
  margin: 2vw 0;
  display: block;
}



.field .form_space {
  width: 100%;
  display: block;
}

.alert .alert-success {
  background-color: RGB(255,220,202);
}
footer {
  //margin: 0rem 0 2px 0;
  color: ghostwhite;
  font-size:10px;
  background-color:RGB(255,220,202);
  position: fixed;
  bottom: 1px;
  width:100%;
  height: auto;
  padding: 0 1px 4px 1px;

  border-top: 1px solid rgba( 255, 255, 255, 0.02 );
}

//.social_media .image{
//  width: 20px;
//  position: fixed;
//  bottom: 6rem;
//}